.TilesContainer {
    display: flex;
    flex-direction: row;
    width: 70%;
}

.Tiles {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}